body, html {
    height: 100%;
}

.header {
    margin: 0;
    padding: 0;
}

.header_wrap{
    max-width: 1140px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: right;
    border-bottom: 1px solid #343b4d;
}

.header_wrap span{
    display: inline-block;
    margin-right: 5px;
}

.header_login_username{
    font-size: 20px;
}

.login_form_content{
    display: block;
}

.login_form_wrap {
    display: block;
    margin: 0 auto;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.pagination_wrap{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #eeeeee;
}

.page_item.on{
    background-color: #343b4d;
    color: #fff;
}

.pagination_ul li{
    float: left;
    margin-right: 20px;
}

ul{
    list-style-type: none;
}

.content {
    height:60%;
}

.product_main_wrap{
    width: 1120px;
    margin : 0 auto;
}

.product_main_list_ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

.product_main_list_li{
    flex: 0 1 240px;
    max-width: 204px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.product_main_list_li .thumbnail{
    position: relative;
    width: 100%;
}

.product_image{
    width: 204px;
    height: 104px;
    display: block;
    overflow: hidden;
    position: relative;
}

.product_image img {
    width: 100%;
    height: 100%;
    opacity: 1;

}
.product_original_price{
    display: block;
}

.product_discount_rate {
    color: #ef2a23;
}

.product_view_wrap{
    width: 1140px;
    margin : 0 auto;
}

.product_view_top{
    padding-bottom: 5%;
}

.product_view_discount_rate{
    color: #ef2a23;
}

.product_view_original_price{
    display: inline-block;
}

.product_view_detail_wrap{
    border-top: 1px solid #333;
    display: flex;
}
.product_view_detail_info{
    display: block;
    margin: 0 auto;
}

.product_view_thumbnail{
    width: 554px;
    height: 450px;
    display: block;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.product_view_thumbnail img{
    width: 100%;
    height: 100%;
    opacity: 1;
}

.product_view_info{
    width: 50%;
    margin: 0 auto;
    padding-top: 5%;
}

.product_main_like{
    float: right;
    height: 26px;
    margin: 0 0 10px;
    font-size: 0;
    position: relative;
}

.product_main_add_like_btn{
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-size: 100%;
    border: none;
    background: none;
}

.product_main_add_like_btn_icon{
    background-image: url("../images/icon_favorite.svg");
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.product_main_add_like_btn.is-active .product_main_add_like_btn_icon{
    background-image: url("../images/icon_favorite_on.svg");
}

.product_view_like{
    float: right;
    height: 26px;
    margin: 0 0 10px;
    font-size: 0;
    position: relative;
}

.product_view_add_like_btn{
    width: 55px;
    height: 55px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-size: 100%;
    border: none;
    background: none;
}

.product_view_add_like_btn_icon{
    background-image: url("../images/icon_favorite.svg");
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.product_view_add_like_btn.is-active .product_view_add_like_btn_icon{
    background-image: url("../images/icon_favorite_on.svg");
}

.blind{
    width: 1px;
    height: 1px;
}

.user_like_list_wrap{
    display: block;
}

.user_like_list_area{
    width: 960px;
    margin: 0 auto;
    display: block;
}

.user_like_list_li{
    border-bottom: 1px solid #eee;
}

.user_like_item{
    display: flex;
}

.user_like_item_thumbnail{
    width: 116px;
    min-width: 116px;
    height: 116px;
    align-self: flex-start;
}

.user_like_item_thumbnail a{
    width: 100%;
    height: 116px;
}

.like_item_image img{
    width: 100%;
    height: 100%;
}

.user_like_item_data{
    align-self: flex-start;
    padding-left: 20px;
    width: 100%;
}

.user_like_item_discount_rate{
    color: #ef2a23;
}

.user_like_item_remove_btn{
    width: 55px;
    height: 55px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-size: 100%;
    border: none;
    background: none;
}

.user_like_item_remove_icon{
    background-image: url("../images/icon_delete-item.svg");
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.login_valid{
    color: #ef2a23;
}